[Unit]
Description=Stock.go Service
After=network.target
ConditionPathExists=/usr/local/stock/stock.go/etc/gostock.yaml

[Service]
NoNewPrivileges=true
ExecStart=/usr/local/stock/stock.go/bin/gostock -c /usr/local/stock/stock.go/etc/gostock.yaml
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
